extends layout

block content  
  div(class='container')
    div(class="diff-url-wrapper")
      input(id="url", class="diff-url-input",type="text",name="url",placeholder="URL")
      a(id="url-btn", class="diff-url-btn btn btn-sm", href="#")='Load'
    div(id="url-diff-container", style="margin: 0 auto;")